body{
    background: url(nature.jpg);
    background-size: 100%;
    
}
fieldset{
    margin-top: 85px;
    width: 30%;
    background-color: #318CE7;
    box-shadow: 5px 5px 20px 1px 10px rgb(85, 85, 85);
    border: 0px;
    padding-left: 15px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 420;
}
td{letter-spacing: 1;}
h1{
    
    letter-spacing: 5px;
    text-align: center;
    color: white;
}
hr{
    border: 4px solid white;
    border-radius: 10px;
    width: 20%;
}
ul li{margin-left: 20px; color: white;}
#submit{
    margin: 20px 35px;
    color: #318CE7;
    background-color: white;
    width: 75%;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid white;
}
#submit:hover{
    color: white;
    background-color: #318CE7;
}
input{
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
    margin-left: 10px;
}